[project]
name = "ds-team-playbook"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = []

[dependency-groups]
dev = [
    "mkdocs>=1.6.1",
    "mkdocs-dracula-theme>=1.0.8",
    "mkdocs-material>=9.7.1",
]
